@model IEnumerable<Domain.Torneo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sede)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoAreas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.NombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sede)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Logo))
            {
                <img src ="@Url.Content(item.Logo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoAreas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTorneo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTorneo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTorneo })
        </td>
    </tr>
}

</table>
