@model Domain.Combate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Combate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Torneo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Torneo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_part1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_part1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_part2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_part2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nivel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCombate }) |
    @Html.ActionLink("Back to List", "Index")
</p>
