@model IEnumerable<Domain.Combate>

@{
    ViewBag.Title = "Index";
}

<h2>Combate</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Torneo.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_part1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_part2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nivel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Torneo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_part1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_part2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nivel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCombate }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCombate }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCombate })
        </td>
    </tr>
}

</table>
